
body {

    padding:0;
    font-family: sans-serif;
}

/*NavBar  */

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}


#logo {
  width:250px;
}
h2{
  color: #e32024 !important;
font-weight: bold !important;
margin-top: 10px !important;

}
}


.navbar-nav {
    float: right;
    margin: 0 auto;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid white;
    margin:0 auto;

}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: white;
  color: black
}
.navbar-inverse{
  background-color: #343232;
  background-image: linear-gradient(0deg, #231f20 0%, #2f2d2d 45%, #3e3c3a 50%, #3e3c3a);
}
.headerText{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    background-image: url("img/tire12.png");
    background-size: cover;
    background-repeat: no-repeat

}


/* Search container */

.firstContainer{
  margin-top: 3.5%;
    background-image:url("");


    background-position: right;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 40px 30px -40px #999;
    -webkit-box-shadow: 0 40px 30px -40px #999;
    -moz-box-shadow: 0 40px 30px -40px #999;
    -o-box-shadow: 0 40px 30px -40px #999;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -o-border-radius: 0.6em;
}
#rowOfTires{
  max-height:100%;
   max-width:100%;
}


/*items list */
.itemsContainer{
  margin-top: 3.5%;
    background: #ffffff;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 40px 30px -40px #999;
    -webkit-box-shadow: 0 40px 30px -40px #999;
    -moz-box-shadow: 0 40px 30px -40px #999;
    -o-box-shadow: 0 40px 30px -40px #999;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -o-border-radius: 0.6em;
    padding-bottom: 17px;
        height: 1100px;
}
.product{
  display: block;
  margin: 3% 1% 2% 3.66%;
  background: #F8F8F8;
  text-align: center;

    padding: 1.5%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -o-border-radius: 0.6em;
}


/*Reclama */
.commercialContainer{
  margin-top: 50px;
    background: #ffffff;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0 40px 30px -40px #999;
    -webkit-box-shadow: 0 40px 30px -40px #999;
    -moz-box-shadow: 0 40px 30px -40px #999;
    -o-box-shadow: 0 40px 30px -40px #999;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -o-border-radius: 0.6em;
    margin-bottom:30px;

}
#downGraph{
  width:200px;
  display:block;
   margin:auto;
}
h3{
  text-align:center;
  font-weight:bold;
  color:#0b1997 !important;
}
#vulcanizarePic{
  width:180px;
  display:block;
   margin:auto;
}
#fancurier{
  display: block;
  margin: auto;

  width:100%;
}


/*Footer  */

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.OurBlog > p {
  color: #888888;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}



.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;

}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
  text-align:center;
}

address {
  color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
}
.footer-top-layout {
  color: #ffffff;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}

.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}

.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}

/*Contact form */

.map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
}

.header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
}
.form-control{
  margin-bottom:10px;
}


/*Product list  */

#productList li  {
  list-style-type: none;
  margin-top: 20px;
}
#productList p {
  color: red;
  font-weight: bold;
    font-size: 18px;
}
.holder{
  float: right;
}
.holder {
   margin:15px 0;
}
.holder a {
   font-size:12px;
   cursor:pointer;
   margin:0 5px;
   color:#333;
}
.holder a:hover {
   background-color:#222;
   color:#fff;
}
.holder a.jp-previous {
   margin-right:15px;
}
.holder a.jp-next {
   margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
   color:#FF4242;
   font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
   color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
   cursor:default;
   background:none;
}
.holder span {
   margin: 0 5px;
}
